@font-face {
  font-family: 'DancingScript';
  src: url(../fuentes/DancingScript-Regular.otf);
}
body{
  background-color:#02010a;
  font-family: 'DancingScript', arial;
}
#cabecera{
  background-color: #5B7989;
  width: 900px;

}
#titulo{
  display: inline-block;
  text-decoration: none;
  border: dotted;
  width: 550px;
}
#menu{
  display: inline-block;
  border: dotted;
  width: 250px;
  text-align: right;
  padding-right: 2%;
  float: right;
  height: 90%;
}
#menu a{
  text-decoration: none;
  padding-left: 5%;
}
.imagen1{
  width: 900px;
  height: 350px;
  background-color: #82C3A6;
}
.imagen2{
  width: 900px;
  height: 270px;
  background-color: #D5C75F;
}
#piedepagina{
  width: 900px;
  height: 87px;
  background-color: #C6D5C5;
}
