@font-face {
  font-family: 'DancingScript';
  src: url(../fuentes/DancingScript-Regular.otf);
}

body{
  background-color:#02010a;
  font-family: 'DancingScript', arial;
}

.contenido{
  width: 900px;
  margin: 0 auto;
}

.cabecera{
  background-color: #5B7989;
  display: flex;
  flex-flow: row wrap;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
}
.contenido div {
  box-sizing: border-box;
	min-width: 50px;
}
.titulo{
  width: 50%;
  font-size: 2em;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  text-shadow: 2px 2px #02010A;
}
.titulo a:link, .titulo a:hover, .titulo a:visited{
  color: white;
  text-decoration: none;
}
.menu{
  width: 50%;
}
.titulo a{
  font-weight: normal;
}
.menu ul{
  justify-content: flex-end;
  display: flex;
}
.menu li{
  list-style: none;
  float: left;
  display: inline block;
  padding-left: 1em;
  font-size: 20px;
  text-align: right;
  float: right;
  margin: 0 15px 0 0;
  color: white;
}
.menu ul li a:link{
  color: white;
}
.menu a:hover{
  text-decoration: overline;
  color: rgb(201, 201, 201);
}

.imagenes{
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  background-color: #D5C75F;
}

.imagen1, .imagen2, .imagen3, .imagen4, .imagen5, .imagen6{
  width: 33.30%;
}

.imagen4, .imagen5, .imagen6{
  padding-top: 15px;
}
.imagenes img{
  margin: : 15px 0 0 5px;
  box-shadow: 2px 2px black;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.imagen1 img{
  -webkit-filter: blur(10px);
}
.imagen2 img, .imagen4 img, .imagen6 img{
  -webkit-filter: grayscale(100%);
}
.imagen3 img{
  -webkit-filter: sepia(90%);
}

#piedepagina{
  background-color: #C6D5C5;
  display: flex;
  flex-flow: row wrap;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  padding-bottom: 1em;
}
.bloque1{
  width: 25%;
  padding-left: 1em;
}
.bloque2{
  width: 25%;
  padding-left: 1em;
}
.bloque3{
  width: 25%;
  padding-left: 1em;
}
.bloque4{
  width: 25%;
  padding-left: 1em;
}
p{
  font-size: 18px;
}
.bloque1 a:link, .bloque1 a:hover, .bloque1 a:visited{
  color: black;
}

@media (max-width: 480px){
.contenido
	{
		width: 100%;
    margin: 0;
	}
	.cabecera
	{
	width: 100%;
  margin: 0;
  text-align: center;
  float: none;
	}
  .titulo{
    width: 100%;
  }
  .menu{
    width: 100%;
  }
  .menu ul{
    justify-content: center;
    padding: 0;
  }
	.imagenes{
    width: 100%;
    margin: 0;
  }
  .imagen1, .imagen2, .imagen3, .imagen4, .imagen5, .imagen6{
    width: 100%;
  }

  .imagenes img{
    display:block;
    margin:auto;
  }
  .imagen1 img, .imagen2 img, .imagen3 img{
    margin-top: 15px;
  }

	#piedepagina
  {
    	width: 100%;
      margin: 0;
  }
  .bloque1{
    width: 100%;
  }
  .bloque2{
    width: 100%;
  }
  .bloque3{
    width: 100%;
  }
  .bloque4{
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 780px){
  .contenido
  	{
  		width: 100%;
  	}
  	.cabecera
  	{
  	width: 100%;
    text-align: center;
    float: none;
  	}
    .titulo{
      width: 100%;
    }
    .menu{
      width: 100%;
    }
    .menu ul{
      justify-content: center;
      padding: 0;
    }
    .imagenes{
      width: 100%;
    }
    .imagenes img{
      width: 90%;
      margin: auto;
    }
    .imagen1 img, .imagen2 img, .imagen3 img{
      margin-top: 15px;
    }
    .imagen1, .imagen2{
      width: 50%;
    }
    .imagen3, .imagen4{
      width: 50%;
    }
    .imagen5, .imagen6{
      width: 50%;
    }
    #piedepagina
    {
        width: 100%;
    }
    .bloque1, .bloque2{
      width: 50%;
    }
    .bloque3, .bloque4{
      width: 50%;
    }
}
