@font-face {
  font-family: 'DancingScript';
  src: url(../fuentes/DancingScript-Regular.otf);
}

.contenido{
  width: 900px;
  margin: 0 auto;
}

body{
  background-color:#02010a;
  font-family: 'DancingScript', arial;
}
.cabecera{
  background-color: #5B7989;
  color: white;
  width: 100%;
  display: flex;
	flex-flow: row wrap;
  margin: 0 auto;
  border-radius: 10px 10px  0 0;
  -moz-border-radius: 10px 10px  0 0;
  -webkit-border-radius: 10px 10px  0 0;
}
.titulo{
  text-align: left;
  text-shadow: 2px 2px  2px #02010A;
}

/* Nav Principal*/
.menu{
  font-size: 12px;
}
ul{
  list-style: none;
  width: 50px;
}
li{
  margin: 2em;
}
.menu a{
  text-decoration: none;
  padding-left: 2em;
  display: inline-block;
}
.menu a:visited{
  color: white;
}
.menu a:hover{
  text-decoration: overline;
  color: rgb(0, 163, 255);
}
/* -----------------------------*/
.imagen1{
  width: 100%;
  height: 500px;
  background-color: #82C3A6;
}
.imagencentral{
  margin-left: auto;
  margin-right: auto;
}
.imagen2{
  height: 270px;
  background-color: #D5C75F;
}
#piedepagina{
  height: 100px;
  padding-bottom: 10px;
  background-color: #C6D5C5;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
}


/* Adaptacion a dispositivos*/
@media (max-width:420px){

}
@media (min-width:421px) and (max-width:900px){

}
@media (min-width:921px){

}
